<a href="https://colab.research.google.com/github/ghxstex/Python-Assignment-1/blob/main/Question1_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write a Python program to find the second largest number in
# a list without using the sort() method.

In [11]:
numbers = input("Enter numbers separated by spaces: ").split()
numbers = [int(x) for x in numbers]

largest = second = float('-inf')
for num in numbers:
    if num > largest:
        second = largest
        largest = num
    elif num > second and num != largest:
        second = num

if second == float('-inf'):
    print("No second largest number found.")
else:
    print("Second largest number is:", second)

Enter numbers separated by spaces: 12 12 15 21 23 42
Second largest number is: 23

# Remove duplicates from a list without using set() and return it in sorted order.

In [12]:
numbers = input("Enter numbers separated by spaces: ").split()
numbers = [int(x) for x in numbers]

unique = []
for num in numbers:
    if num not in unique:
        unique.append(num)

for i in range(len(unique)):
    for j in range(i + 1, len(unique)):
        if unique[i] > unique[j]:
            unique[i], unique[j] = unique[j], unique[i]

print(unique)

Enter numbers separated by spaces: 12 131 41 51 16 17 1 8
[1, 8, 12, 16, 17, 41, 51, 131]

# Find the sum and average of a list of numbers.

In [3]:
numbers = input("Enter numbers separated by spaces: ").split()
numbers = [int(x) for x in numbers]
total = 0
for num in numbers:
    total += num
average = total / len(numbers)
print("Sum:", total)
print("Average:", average)

Enter numbers separated by spaces: 12 13 141 15 14
Sum: 195
Average: 39.0

# Create a program to check if a number is prime.

In [4]:
n = int(input("Enter a number: "))
if n <= 1:
    print("Not Prime")
else:
    is_prime = True
    for i in range(2, n):
        if n % i == 0:
            is_prime = False
            break
    if is_prime:
        print("Prime")
    else:
        print("Not Prime")

Enter a number: 17
Prime

# Count the number of vowels, consonants, digits, and special characters in given string

In [5]:
text = input("Enter a string: ")
vowels = consonants = digits = special = 0

for char in text:
    if char.isalpha():
        if char.lower() in 'aeiou':
            vowels += 1
        else:
            consonants += 1
    elif char.isdigit():
        digits += 1
    else:
        special += 1

print("Vowels:", vowels)
print("Consonants:", consonants)
print("Digits:", digits)
print("Special characters:", special)

Enter a string: My name is parth lalit
Vowels: 6
Consonants: 12
Digits: 0
Special characters: 4

# Print all even numbers between 1 and 100 using a for loop.

In [6]:
for i in range(2, 101, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# Write a program to print the multiplication table of a number
# entered by the user.

In [7]:
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter a number: 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

# Create a list of numbers from 1 to 100 that are divisible by
# both 3 and 5.

In [8]:
result = []
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        result.append(i)
print(result)

[15, 30, 45, 60, 75, 90]

# Take a number input and print its reverse.

In [9]:
n = input("Enter a number: ")
print(n[::-1])

Enter a number: 12
21

# Count the frequency of each character in a string and
# store it in a dictionary

In [10]:
text = input("Enter a string: ")
freq = {}
for char in text:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1
print(freq)

Enter a string: My name is parth lalit
{'M': 1, 'y': 1, ' ': 5, 'n': 1, 'a': 3, 'm': 1, 'e': 1, 'i': 2, 's': 1, 'p': 1, 'r': 1, 't': 2, 'h': 1, 'l': 2}

# Write a Python program to generate the first n prime
# numbers.

In [14]:
n = int(input("Enter how many prime numbers you want: "))
count = 0
num = 2
while count < n:
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, end=" ")
        count += 1
    num += 1

Enter how many prime numbers you want: 5
2 3 5 7 11

# Check whether a number is a palindrome or not.

In [15]:
n = input("Enter a number: ")
if n == n[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter a number: 12
Not Palindrome

# Count how many times a specific element appears in a
# list.

In [16]:
items = input("Enter list items separated by spaces: ").split()
target = input("Enter the element to count: ")
count = 0
for item in items:
    if item == target:
        count += 1
print("Count:", count)

Enter list items separated by spaces: 12 13 14 15 161 7
Enter the element to count: 2
Count: 0

# Create a list of squares of even numbers between 1 and
# 50.

In [17]:
squares = []
for i in range(2, 51, 2):
    squares.append(i * i)
print(squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500]

# Accept a list and return a new list with only unique
# elements (preserve order).

In [19]:
items = input("Enter list items separated by spaces: ").split()
unique = []
for item in items:
    if item not in unique:
        unique.append(item)
print(unique)

Enter list items separated by spaces: 12 13 14 15 16
['12', '13', '14', '15', '16']